#character-div {
    position: relative;
    //border-style: solid;
    top: -60%;
    height: $character-screen-height;
    width: $character-screen-width;
}

#character-gif {
    margin-top: 7%;
    margin-left: 20%;
}

.no-image {
    display: none;
}